.fc-resourceTimeGridDay-view{
    overflow-x: scroll;
}



.fc-resourceTimeGridDay-view > table {
    width: 150%;
}

.fc th, .fc td {
    vertical-align: middle;
}

.fc-sun { background-color:#fce5e0; }
.fc-sat { background-color:#fce5e0;  }
